
div {

}
	

#top-bar {
	background-color:#fe5d9f;
	border: solid lightblue;
	padding: 60px;
	font-family: Helvetica;
	color: #cb2448;
	font-size: 64pt;
	position: relative;
	text-align: center;
	border: 2px solid black;
}

#terrible {
	font-family: Garamond;
	color: red;
	font-size: 8pt;
	text-align: center;
}
	
.midbox {
<<<<<<< HEAD
	background-color: #d6d2d2;
	border: 2px solid black;
	min-height: 50%;
	text-align: center;
	margin-bottom: 10px;
	box-shadow: 10px 10px 5px #4B016E;
=======
	background-color: lightgreen;
	border: 2px solid black;
	height: 50%;
	text-align: center;
>>>>>>> 1e8bc57f045603c85d95ff96ffc272551379f355
}


img {
	height: 80%;
	width: 80%;
}

body {
<<<<<<< HEAD
background-color: #f4bbd3;
}
=======
background-color: #9F2507;
}
>>>>>>> 1e8bc57f045603c85d95ff96ffc272551379f355
